USE [master]
GO
/****** Object:  Database [GestionCoursBD]    Script Date: 2026-04-16 12:08:04 PM ******/
CREATE DATABASE [GestionCoursBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionCoursBD', FILENAME = N'C:\Users\Christian\GestionCoursBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionCoursBD_log', FILENAME = N'C:\Users\Christian\GestionCoursBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionCoursBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionCoursBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cours]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](max) NOT NULL,
	[Jour] [int] NOT NULL,
	[HeureDebut] [time](7) NOT NULL,
	[HeureFin] [time](7) NOT NULL,
	[DepartementId] [int] NOT NULL,
	[UtilisateurId] [int] NULL,
	[SalleId] [int] NULL,
	[GroupeId] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[ProfesseurIds] [nvarchar](max) NULL,
	[GroupeIds] [nvarchar](max) NULL,
	[CodeMinisteriel] [nvarchar](max) NULL,
	[HeuresTheorie] [int] NOT NULL,
	[HeuresLabo] [int] NOT NULL,
	[HeuresTravailPersonnel] [int] NOT NULL,
 CONSTRAINT [PK_Cours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demandes]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demandes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UtilisateurId] [int] NOT NULL,
	[Type] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Statut] [nvarchar](50) NOT NULL,
	[DateCreation] [datetime2](7) NOT NULL,
	[NoteResponsable] [nvarchar](max) NULL,
	[FichierJoint] [nvarchar](500) NULL,
	[EstUrgent] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departements]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibilites]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibilites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UtilisateurId] [int] NOT NULL,
	[Jour] [int] NOT NULL,
	[HeureDebut] [time](7) NOT NULL,
	[HeureFin] [time](7) NOT NULL,
	[Disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailOtps]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailOtps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Purpose] [nvarchar](50) NOT NULL,
	[CodeSalt] [uniqueidentifier] NOT NULL,
	[CodeHash] [varbinary](max) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[Attempts] [int] NOT NULL,
	[LastSentAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groupes]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groupes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
	[Niveau] [nvarchar](50) NOT NULL,
	[Effectif] [int] NOT NULL,
	[DepartementId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salles]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Capacite] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Logiciels] [nvarchar](max) NULL,
	[Materiel] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityLogs]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrustedDevices]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrustedDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DeviceName] [nvarchar](200) NULL,
	[TokenSalt] [uniqueidentifier] NOT NULL,
	[TokenHash] [varbinary](max) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 2026-04-16 12:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DateCreation] [datetime2](7) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[DepartementId] [int] NULL,
	[Disponibilite] [bit] NOT NULL,
	[MotDePasseHash] [varbinary](64) NULL,
	[MotDePasseSalt] [uniqueidentifier] NULL,
	[QuestionSecurite] [nvarchar](max) NULL,
	[ReponseSecuriteSalt] [uniqueidentifier] NULL,
	[ReponseSecuriteHash] [varbinary](max) NULL,
	[EstMotDePasseProvisoire] [bit] NOT NULL,
	[FailedLoginAttempts] [int] NOT NULL,
	[LockoutUntil] [datetime2](7) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cours] ON 

INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId], [Type], [ProfesseurIds], [GroupeIds], [CodeMinisteriel], [HeuresTheorie], [HeuresLabo], [HeuresTravailPersonnel]) VALUES (1, N'Algèbre Linéaire', 2, CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, 25, 3, NULL, NULL, N'25', N'5', NULL, 0, 0, 0)
INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId], [Type], [ProfesseurIds], [GroupeIds], [CodeMinisteriel], [HeuresTheorie], [HeuresLabo], [HeuresTravailPersonnel]) VALUES (2, N'Trigonométrie', 5, CAST(N'14:00:00' AS Time), CAST(N'16:00:00' AS Time), 1, 26, 5, NULL, NULL, N'26', N'5', NULL, 0, 0, 0)
INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId], [Type], [ProfesseurIds], [GroupeIds], [CodeMinisteriel], [HeuresTheorie], [HeuresLabo], [HeuresTravailPersonnel]) VALUES (3, N'Analyse réelle', 2, CAST(N'16:00:00' AS Time), CAST(N'18:00:00' AS Time), 1, 27, 5, NULL, NULL, N'27', N'5', NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Cours] OFF
GO
SET IDENTITY_INSERT [dbo].[Demandes] ON 

INSERT [dbo].[Demandes] ([Id], [UtilisateurId], [Type], [Description], [Statut], [DateCreation], [NoteResponsable], [FichierJoint], [EstUrgent]) VALUES (1, 34, N'Technique', N'mon ordinateure ne fonctionne pas', N'Approuvé', CAST(N'2026-04-07T12:27:18.6510362' AS DateTime2), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Demandes] OFF
GO
SET IDENTITY_INSERT [dbo].[Departements] ON 

INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (1, N'Mathématiques')
INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (2, N'Informatique')
INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (3, N'Physique')
SET IDENTITY_INSERT [dbo].[Departements] OFF
GO
SET IDENTITY_INSERT [dbo].[Disponibilites] ON 

INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (7, 38, 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (8, 33, 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (9, 32, 5, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[Disponibilites] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailOtps] ON 

INSERT [dbo].[EmailOtps] ([Id], [UserId], [Purpose], [CodeSalt], [CodeHash], [ExpiresAt], [UsedAt], [Attempts], [LastSentAt], [CreatedAt]) VALUES (1, 62, N'2FA', N'd797125e-49a9-4dc2-9c74-0b90033d8d2d', 0x360C2898332FB0E903361724B11AD0728806754C9C232C0A84EF42FF021C9D6B, CAST(N'2026-04-07T18:40:06.2815136' AS DateTime2), NULL, 0, CAST(N'2026-04-07T18:30:06.2816488' AS DateTime2), CAST(N'2026-04-07T18:30:06.2817828' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EmailOtps] OFF
GO
SET IDENTITY_INSERT [dbo].[Groupes] ON 

INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (1, N'Informatique G1', N'L1', 28, 2)
INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (2, N'Informatique G2', N'L2', 30, 2)
INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (3, N'Informatique G3', N'Licence 3', 35, 2)
SET IDENTITY_INSERT [dbo].[Groupes] OFF
GO
SET IDENTITY_INSERT [dbo].[Salles] ON 

INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type], [Logiciels], [Materiel]) VALUES (1, N'A-201', 35, N'Amphi', NULL, NULL)
INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type], [Logiciels], [Materiel]) VALUES (2, N'A-202', 35, N'TD', NULL, NULL)
INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type], [Logiciels], [Materiel]) VALUES (3, N'A-203', 30, N'TD', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Salles] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityLogs] ON 

INSERT [dbo].[SecurityLogs] ([Id], [UserId], [Action], [Details], [IpAddress], [CreatedAt]) VALUES (1, 32, N'LOGIN_FAILED', N'Attempt=1', N'::1', CAST(N'2026-04-04T04:32:08.0429960' AS DateTime2))
INSERT [dbo].[SecurityLogs] ([Id], [UserId], [Action], [Details], [IpAddress], [CreatedAt]) VALUES (2, 32, N'LOGIN_FAILED', N'Attempt=2', N'::1', CAST(N'2026-04-04T04:32:23.9841365' AS DateTime2))
INSERT [dbo].[SecurityLogs] ([Id], [UserId], [Action], [Details], [IpAddress], [CreatedAt]) VALUES (3, 21, N'LOGIN_SUCCESS', NULL, N'::1', CAST(N'2026-04-05T16:25:17.0673127' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SecurityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilisateurs] ON 

INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire], [FailedLoginAttempts], [LockoutUntil], [TwoFactorEnabled]) VALUES (18, N'Jean Martin', N'admin.jean@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0, 0, NULL, 0)
INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire], [FailedLoginAttempts], [LockoutUntil], [TwoFactorEnabled]) VALUES (19, N'Marie Dubois', N'admin.marie@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0, 0, NULL, 0)
INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire], [FailedLoginAttempts], [LockoutUntil], [TwoFactorEnabled]) VALUES (20, N'Paul Lambert', N'admin.paul@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Utilisateurs] OFF
GO
/****** Object:  Index [IX_Cours_DepartementId]    Script Date: 2026-04-16 12:08:05 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cours_DepartementId] ON [dbo].[Cours]
(
	[DepartementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cours] ADD  DEFAULT ((0)) FOR [HeuresTheorie]
GO
ALTER TABLE [dbo].[Cours] ADD  DEFAULT ((0)) FOR [HeuresLabo]
GO
ALTER TABLE [dbo].[Cours] ADD  DEFAULT ((0)) FOR [HeuresTravailPersonnel]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT ('') FOR [Type]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT ('En attente') FOR [Statut]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT (getdate()) FOR [DateCreation]
GO
ALTER TABLE [dbo].[Demandes] ADD  DEFAULT ((0)) FOR [EstUrgent]
GO
ALTER TABLE [dbo].[Disponibilites] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ('') FOR [Purpose]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (getdate()) FOR [LastSentAt]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Salles] ADD  DEFAULT ('TD') FOR [Type]
GO
ALTER TABLE [dbo].[SecurityLogs] ADD  DEFAULT ('') FOR [Action]
GO
ALTER TABLE [dbo].[SecurityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrustedDevices] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ('Professeur') FOR [Role]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  CONSTRAINT [DF_Utilisateurs_Disponibilite]  DEFAULT ((1)) FOR [Disponibilite]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ((0)) FOR [EstMotDePasseProvisoire]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Departements_DepartementId] FOREIGN KEY([DepartementId])
REFERENCES [dbo].[Departements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Departements_DepartementId]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Groupes] FOREIGN KEY([GroupeId])
REFERENCES [dbo].[Groupes] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Groupes]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Salles_SalleId] FOREIGN KEY([SalleId])
REFERENCES [dbo].[Salles] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Salles_SalleId]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Utilisateurs_UtilisateurId] FOREIGN KEY([UtilisateurId])
REFERENCES [dbo].[Utilisateurs] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Utilisateurs_UtilisateurId]
GO
ALTER TABLE [dbo].[Disponibilites]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilites_Utilisateurs] FOREIGN KEY([UtilisateurId])
REFERENCES [dbo].[Utilisateurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Disponibilites] CHECK CONSTRAINT [FK_Disponibilites_Utilisateurs]
GO
ALTER TABLE [dbo].[Groupes]  WITH CHECK ADD  CONSTRAINT [FK_Groupe_Departement] FOREIGN KEY([DepartementId])
REFERENCES [dbo].[Departements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Groupes] CHECK CONSTRAINT [FK_Groupe_Departement]
GO
USE [master]
GO
