USE [GestionCoursDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/02/2026 11:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cours]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titre] [nvarchar](max) NOT NULL,
	[Jour] [int] NOT NULL,
	[HeureDebut] [time](7) NOT NULL,
	[HeureFin] [time](7) NOT NULL,
	[DepartementId] [int] NOT NULL,
	[UtilisateurId] [int] NULL,
	[SalleId] [int] NULL,
	[GroupeId] [int] NULL,
 CONSTRAINT [PK_Cours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departements]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibilites]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibilites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UtilisateurId] [int] NOT NULL,
	[Jour] [int] NOT NULL,
	[HeureDebut] [time](7) NOT NULL,
	[HeureFin] [time](7) NOT NULL,
	[Disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groupes]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groupes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](100) NOT NULL,
	[Niveau] [nvarchar](50) NOT NULL,
	[Effectif] [int] NOT NULL,
	[DepartementId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salles]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Capacite] [int] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 11/02/2026 11:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DateCreation] [datetime2](7) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[DepartementId] [int] NULL,
	[Disponibilite] [bit] NOT NULL,
	[MotDePasseHash] [varbinary](64) NULL,
	[MotDePasseSalt] [uniqueidentifier] NULL,
	[QuestionSecurite] [nvarchar](max) NULL,
	[ReponseSecuriteSalt] [uniqueidentifier] NULL,
	[ReponseSecuriteHash] [varbinary](max) NULL,
	[EstMotDePasseProvisoire] [bit] NOT NULL,
 CONSTRAINT [PK_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cours] ON 

INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId]) VALUES (1, N'Algèbre Linéaire', 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, NULL, NULL, NULL)
INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId]) VALUES (2, N'Trigonométrie', 1, CAST(N'10:15:00' AS Time), CAST(N'12:15:00' AS Time), 1, NULL, NULL, NULL)
INSERT [dbo].[Cours] ([Id], [Titre], [Jour], [HeureDebut], [HeureFin], [DepartementId], [UtilisateurId], [SalleId], [GroupeId]) VALUES (3, N'Analyse réelle', 2, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cours] OFF
GO
SET IDENTITY_INSERT [dbo].[Departements] ON 

INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (1, N'Mathématiques')
INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (2, N'Informatique')
INSERT [dbo].[Departements] ([Id], [Nom]) VALUES (3, N'Physique')
SET IDENTITY_INSERT [dbo].[Departements] OFF
GO
SET IDENTITY_INSERT [dbo].[Disponibilites] ON 

INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (7, 38, 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (8, 33, 1, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
INSERT [dbo].[Disponibilites] ([Id], [UtilisateurId], [Jour], [HeureDebut], [HeureFin], [Disponible]) VALUES (9, 32, 5, CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Disponibilites] OFF
GO
SET IDENTITY_INSERT [dbo].[Groupes] ON 

INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (1, N'Informatique G1', N'L1', 28, 2)
INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (2, N'Informatique G2', N'L2', 30, 2)
INSERT [dbo].[Groupes] ([Id], [Nom], [Niveau], [Effectif], [DepartementId]) VALUES (3, N'Informatique G3', N'Licence 3', 35, 2)
SET IDENTITY_INSERT [dbo].[Groupes] OFF
GO
SET IDENTITY_INSERT [dbo].[Salles] ON 

INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type]) VALUES (1, N'A-201', 35, N'Amphi')
INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type]) VALUES (2, N'A-202', 35, N'TD')
INSERT [dbo].[Salles] ([Id], [Nom], [Capacite], [Type]) VALUES (3, N'A-203', 30, N'TD')
SET IDENTITY_INSERT [dbo].[Salles] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilisateurs] ON 

INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire]) VALUES (18, N'Jean Martin', N'admin.jean@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0)
INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire]) VALUES (19, N'Marie Dubois', N'admin.marie@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0)
INSERT [dbo].[Utilisateurs] ([Id], [Nom], [Email], [DateCreation], [Role], [DepartementId], [Disponibilite], [MotDePasseHash], [MotDePasseSalt], [QuestionSecurite], [ReponseSecuriteSalt], [ReponseSecuriteHash], [EstMotDePasseProvisoire]) VALUES (20, N'Paul Lambert', N'admin.paul@gestionhoraire.com', CAST(N'2026-01-26T18:51:18.2200000' AS DateTime2), N'Administrateur', 1, 0, 0x1151592AD4560E1E4606111B40369FF8DB439B897C667DE0EB02D9C9D4F401C8, N'b991f89f-1257-4706-aaeb-79a8ea40c93b', NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Utilisateurs] OFF
GO
/****** Object:  Index [IX_Cours_DepartementId]    Script Date: 11/02/2026 11:02:59 ******/
CREATE NONCLUSTERED INDEX [IX_Cours_DepartementId] ON [dbo].[Cours]
(
	[DepartementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Disponibilites] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Salles] ADD  DEFAULT ('TD') FOR [Type]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ('Professeur') FOR [Role]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  CONSTRAINT [DF_Utilisateurs_Disponibilite]  DEFAULT ((1)) FOR [Disponibilite]
GO
ALTER TABLE [dbo].[Utilisateurs] ADD  DEFAULT ((0)) FOR [EstMotDePasseProvisoire]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Departements_DepartementId] FOREIGN KEY([DepartementId])
REFERENCES [dbo].[Departements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Departements_DepartementId]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Groupes] FOREIGN KEY([GroupeId])
REFERENCES [dbo].[Groupes] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Groupes]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Salles_SalleId] FOREIGN KEY([SalleId])
REFERENCES [dbo].[Salles] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Salles_SalleId]
GO
ALTER TABLE [dbo].[Cours]  WITH CHECK ADD  CONSTRAINT [FK_Cours_Utilisateurs_UtilisateurId] FOREIGN KEY([UtilisateurId])
REFERENCES [dbo].[Utilisateurs] ([Id])
GO
ALTER TABLE [dbo].[Cours] CHECK CONSTRAINT [FK_Cours_Utilisateurs_UtilisateurId]
GO
ALTER TABLE [dbo].[Disponibilites]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilites_Utilisateurs] FOREIGN KEY([UtilisateurId])
REFERENCES [dbo].[Utilisateurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Disponibilites] CHECK CONSTRAINT [FK_Disponibilites_Utilisateurs]
GO
ALTER TABLE [dbo].[Groupes]  WITH CHECK ADD  CONSTRAINT [FK_Groupe_Departement] FOREIGN KEY([DepartementId])
REFERENCES [dbo].[Departements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Groupes] CHECK CONSTRAINT [FK_Groupe_Departement]
GO
